In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df1 = pd.read_csv("DI - Visits 1.3.csv")
df2 = pd.read_csv("DI - Visits 2.3.csv")
df3 = pd.read_csv("DI - Visits 3.3.csv")

In [3]:
df1.head(5)

,HCID,Pt Age,DI Req - Time,Requesting Physician,Req Type - Abdominal,DI - Pt in Suite,Unnamed: 6,Unnamed: 7
0,2203144,70.0,2019-01-21 15:27,Dr. S,ABD,2019-01-21 16:42,NaN,NaN
1,2461112,67.0,2019-01-21 15:27,Dr. S,ABD,2019-01-21 18:43,NaN,NaN
2,2233815,58.0,2019-01-21 15:43,Dr. S,ABD,2019-01-21 15:55,NaN,NaN
3,1043375,31.0,2019-01-22 01:19,Dr. S,ABD,2019-01-22 02:53,NaN,NaN
4,2933761,60.0,2019-01-22 02:20,Dr. O,ABD,2019-01-22 03:41,NaN,NaN

In [4]:
# Check the data types of each column
print(df1.dtypes)

HCID                      int64
Pt Age                  float64
DI Req - Time            object
Requesting Physician     object
Req Type - Abdominal     object
DI - Pt in Suite         object
Unnamed: 6              float64
Unnamed: 7              float64
dtype: object

In [5]:
df1.columns

Index(['HCID', 'Pt Age', 'DI Req - Time', 'Requesting Physician',
       'Req Type - Abdominal', 'DI - Pt in Suite', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [6]:
df2.head(5)

,HCID,Pt Age,DI Req - Time,Requesting Physician,Req Type - Abdominal,DI - Pt in Suite
0,1367975,59.0,2019-11-23 12:26,Dr. P,ABD,2019-11-23 12:41
1,2354641,69.0,2019-11-23 14:55,Dr. P,ABD,2019-11-23 16:28
2,2930179,71.0,2019-11-23 14:55,Dr. P,ABD,2019-11-23 18:15
3,2757722,44.0,2019-11-23 16:37,Dr. D,ABD,2019-11-23 17:58
4,2440493,43.0,2019-11-23 22:41,Dr. P,ABD,2019-11-24 00:19

In [7]:
df3.head(5)

,HCID,Pt Age,DI Req - Time,Requesting Physician,Req Type - Abdominal,DI - Pt in Suite
0,2287693.0,39.0,2020-04-21 8:18:37,Dr. D,ABD,2020-04-21 9:58:51
1,1268821.0,67.0,2020-04-21 8:40:42,Dr. D,ABD,2020-04-21 9:02:56
2,2268939.0,82.0,2020-04-21 10:04:18,Dr. D,ABD,2020-04-21 10:38:07
3,2769731.0,75.0,2020-04-21 10:04:18,Dr. D,ABD,2020-04-21 13:02:32
4,2206314.0,71.0,2020-04-21 10:19:35,Dr. D,ABD,2020-04-21 10:59:15

In [8]:
print(df2.dtypes)

HCID                      int64
Pt Age                  float64
DI Req - Time            object
Requesting Physician     object
Req Type - Abdominal     object
DI - Pt in Suite         object
dtype: object

In [9]:
print(df3.dtypes)

HCID                    float64
Pt Age                  float64
DI Req - Time            object
Requesting Physician     object
Req Type - Abdominal     object
DI - Pt in Suite         object
dtype: object

1. The DI Requisition database extracted the data into 3 separate tables on 3 csv files.   You will need to combine these files into a single table. (2 Marks)

In [10]:
# Concatenate the DataFrames into one DataFrame
df = pd.concat([df1, df2, df3], ignore_index=True)
df

,HCID,Pt Age,DI Req - Time,Requesting Physician,Req Type - Abdominal,DI - Pt in Suite,Unnamed: 6,Unnamed: 7
0,2203144.0,70.0,2019-01-21 15:27,Dr. S,ABD,2019-01-21 16:42,NaN,NaN
1,2461112.0,67.0,2019-01-21 15:27,Dr. S,ABD,2019-01-21 18:43,NaN,NaN
2,2233815.0,58.0,2019-01-21 15:43,Dr. S,ABD,2019-01-21 15:55,NaN,NaN
3,1043375.0,31.0,2019-01-22 01:19,Dr. S,ABD,2019-01-22 02:53,NaN,NaN
4,2933761.0,60.0,2019-01-22 02:20,Dr. O,ABD,2019-01-22 03:41,NaN,NaN
...,...,...,...,...,...,...,...,...
2455,2398214.0,30.0,2021-02-05 23:37:13,Dr. D,ABD,2021-02-06 0:05:22,NaN,NaN
2456,2815931.0,36.0,2021-02-05 23:37:13,Dr. D,ABD,2021-02-06 1:20:31,NaN,NaN
2457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Drop columns 7 and 8 from the DataFrame
df = df.drop(["Unnamed: 6", "Unnamed: 7"], axis=1)

In [12]:
# Save the combined DataFrame as a new CSV file
df.to_csv("combined_DI_data.csv", index=False)

2. The DI department does not have information on why patients were seen there.  You will need to use the OR Booking data to determine which records from DI were from patients who were in the care pathway for an Appendectomy or Cholecystectomy.

In [13]:
import pandas as pd
from datetime import datetime

In [14]:
df_b = pd.read_csv("ORBooking.csv")
df_DI = pd.read_csv("combined_DI_data.csv")

In [15]:
df_b

,HCID,Pt Age,Proc Descr Mod,Req Proc Tm,Pt Priority,OR Booking Req DT/Tm,Pt Loc,Proc DT,Pt OR Chk In,Pt In OR,OR,Pt Trns,ORR#
0,1805294,40.0,Laparoscopy Appendectomy,60,E-06H,2019-01-12 3:00,35,2019-01-12,1000,1025,5,PARU,1065487
1,2233815,58.0,Laparoscopy Cholecystectomy,60,E-24H,2019-01-21 17:12,ER,2019-01-21,1827,1905,5,PARU,1065535
2,1043375,31.0,Laparoscopy Appendectomy,60,E-06H,2019-01-22 3:30,ER,2019-01-22,750,800,5,PARU,1065583
3,1203917,45.0,Laparoscopy Cholecystectomy,60,E-24H,2019-01-29 18:12,56,2019-01-30,1728,1805,7,PARU,1065615
4,2616633,46.0,Laparoscopy Appendectomy,,E-06H,2019-01-30 5:30,35,2019-01-30,740,800,10,PARU,1065660
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,1547397,25.0,Laparoscopy Appendectomy,60,E-06H,2021-01-19 6:06,ER,2021-01-19,1400,1441,9,PARU,1100943
1225,2250377,54.0,Laparoscopy Cholecystectomy,60,E-24H,2021-02-05 20:15,35,2021-02-06,1557,1640,9,PARU,1100996
1226,2803120,18.0,Laparoscopy Cholecystectomy,60,U-36H,2021-02-07 14:32,64,2021-02-08,1541,1608,10,PARU,1101049
1227,1602995,25.0,Laparoscopy Appendectomy,60,E-06H,2021-02-08 5:56,ER,2021-02-08,908,950,4,,1101074
1228,2939119,41.0,Laparoscopy Appendectomy,60,E-06H,2021-02-15 3:00,ER,2021-02-15,727,752,5,PARU,1101121

In [16]:
df_DI

,HCID,Pt Age,DI Req - Time,Requesting Physician,Req Type - Abdominal,DI - Pt in Suite
0,2203144.0,70.0,2019-01-21 15:27,Dr. S,ABD,2019-01-21 16:42
1,2461112.0,67.0,2019-01-21 15:27,Dr. S,ABD,2019-01-21 18:43
2,2233815.0,58.0,2019-01-21 15:43,Dr. S,ABD,2019-01-21 15:55
3,1043375.0,31.0,2019-01-22 01:19,Dr. S,ABD,2019-01-22 02:53
4,2933761.0,60.0,2019-01-22 02:20,Dr. O,ABD,2019-01-22 03:41
...,...,...,...,...,...,...
2455,2398214.0,30.0,2021-02-05 23:37:13,Dr. D,ABD,2021-02-06 0:05:22
2456,2815931.0,36.0,2021-02-05 23:37:13,Dr. D,ABD,2021-02-06 1:20:31
2457,NaN,NaN,NaN,NaN,NaN,NaN
2458,NaN,NaN,NaN,NaN,NaN,NaN
2459,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Delete the last 3 rows from df_DI dataset
df_DI.drop(df_DI.tail(3).index, inplace=True)

In [18]:
df_DI

,HCID,Pt Age,DI Req - Time,Requesting Physician,Req Type - Abdominal,DI - Pt in Suite
0,2203144.0,70.0,2019-01-21 15:27,Dr. S,ABD,2019-01-21 16:42
1,2461112.0,67.0,2019-01-21 15:27,Dr. S,ABD,2019-01-21 18:43
2,2233815.0,58.0,2019-01-21 15:43,Dr. S,ABD,2019-01-21 15:55
3,1043375.0,31.0,2019-01-22 01:19,Dr. S,ABD,2019-01-22 02:53
4,2933761.0,60.0,2019-01-22 02:20,Dr. O,ABD,2019-01-22 03:41
...,...,...,...,...,...,...
2452,2738163.0,51.0,2021-02-05 21:27:03,Dr. P,ABD,2021-02-06 1:13:43
2453,2474946.0,62.0,2021-02-05 21:41:36,Dr. J,ABD,2021-02-06 1:18:49
2454,2793708.0,69.0,2021-02-05 21:41:36,Dr. J,ABD,2021-02-06 0:21:20
2455,2398214.0,30.0,2021-02-05 23:37:13,Dr. D,ABD,2021-02-06 0:05:22
2456,2815931.0,36.0,2021-02-05 23:37:13,Dr. D,ABD,2021-02-06 1:20:31

3. If you are using a merge command to put these two datasets together, which one would you want to put on the “left”?  Explain why. (1 Mark)

I would merge the OR Booking data  with the DI data (containing information about patients seen in the Diagnostic Imaging department) using the OR Booking data as the left dataset. This is because the OR Booking data contains information about patients who are scheduled for surgery, including details about the specific procedures they are undergoing (such as Appendectomy or Cholecystectomy). Therefore, by merging the DI data onto the OR Booking data, we can identify which patients seen in the Diagnostic Imaging department were on the care pathway for these specific surgeries.

4. Merge the two datasets in a way that will allow you to answer the below questions. (2 Marks)

In [19]:
# Check column names and data types
print("Columns and data types in OR Booking data:")
print(df_b.dtypes)
print("\nColumns and data types in combined DI data:")
print(df_DI.dtypes)

Columns and data types in OR Booking data:
HCID                      int64
Pt Age                  float64
Proc Descr Mod           object
Req Proc Tm              object
Pt Priority              object
OR Booking Req DT/Tm     object
Pt Loc                   object
Proc DT                  object
Pt OR Chk In             object
Pt In OR                 object
OR                        int64
Pt Trns                  object
ORR#                      int64
dtype: object

Columns and data types in combined DI data:
HCID                    float64
Pt Age                  float64
DI Req - Time            object
Requesting Physician     object
Req Type - Abdominal     object
DI - Pt in Suite         object
dtype: object

In [20]:
# Preprocess the data
df_DI['DI Req - Time'] = pd.to_datetime(df_DI['DI Req - Time'])  # Convert DI Req - Time to datetime 
df_b["OR Booking Req DT/Tm"] = pd.to_datetime(df_b["OR Booking Req DT/Tm"])

In [21]:
# Convert HCID column to float
df_b['HCID'] = df_b['HCID'].astype(float)

In [22]:
# Check column names and data types
print("Columns and data types in OR Booking data:")
print(df_b.dtypes)
print("\nColumns and data types in combined DI data:")
print(df_DI.dtypes)

Columns and data types in OR Booking data:
HCID                           float64
Pt Age                         float64
Proc Descr Mod                  object
Req Proc Tm                     object
Pt Priority                     object
OR Booking Req DT/Tm    datetime64[ns]
Pt Loc                          object
Proc DT                         object
Pt OR Chk In                    object
Pt In OR                        object
OR                               int64
Pt Trns                         object
ORR#                             int64
dtype: object

Columns and data types in combined DI data:
HCID                           float64
Pt Age                         float64
DI Req - Time           datetime64[ns]
Requesting Physician            object
Req Type - Abdominal            object
DI - Pt in Suite                object
dtype: object

In [23]:
# Merge the datasets based on the HCID column
merged_df = pd.merge(df_b, df_DI, on="HCID", how="left")

In [24]:
merged_df

,HCID,Pt Age_x,Proc Descr Mod,Req Proc Tm,Pt Priority,OR Booking Req DT/Tm,Pt Loc,Proc DT,Pt OR Chk In,Pt In OR,OR,Pt Trns,ORR#,Pt Age_y,DI Req - Time,Requesting Physician,Req Type - Abdominal,DI - Pt in Suite
0,1805294.0,40.0,Laparoscopy Appendectomy,60,E-06H,2019-01-12 03:00:00,35,2019-01-12,1000,1025,5,PARU,1065487,NaN,NaT,NaN,NaN,NaN
1,2233815.0,58.0,Laparoscopy Cholecystectomy,60,E-24H,2019-01-21 17:12:00,ER,2019-01-21,1827,1905,5,PARU,1065535,58.0,2019-01-21 15:43:00,Dr. S,ABD,2019-01-21 15:55
2,1043375.0,31.0,Laparoscopy Appendectomy,60,E-06H,2019-01-22 03:30:00,ER,2019-01-22,750,800,5,PARU,1065583,31.0,2019-01-22 01:19:00,Dr. S,ABD,2019-01-22 02:53
3,1203917.0,45.0,Laparoscopy Cholecystectomy,60,E-24H,2019-01-29 18:12:00,56,2019-01-30,1728,1805,7,PARU,1065615,NaN,NaT,NaN,NaN,NaN
4,2616633.0,46.0,Laparoscopy Appendectomy,,E-06H,2019-01-30 05:30:00,35,2019-01-30,740,800,10,PARU,1065660,46.0,2019-01-30 03:25:00,Dr. O,ABD,2019-01-30 04:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,1547397.0,25.0,Laparoscopy Appendectomy,60,E-06H,2021-01-19 06:06:00,ER,2021-01-19,1400,1441,9,PARU,1100943,NaN,NaT,NaN,NaN,NaN
1225,2250377.0,54.0,Laparoscopy Cholecystectomy,60,E-24H,2021-02-05 20:15:00,35,2021-02-06,1557,1640,9,PARU,1100996,54.0,2021-02-05 19:43:05,Dr. J,ABD,2021-02-05 19:45:42
1226,2803120.0,18.0,Laparoscopy Cholecystectomy,60,U-36H,2021-02-07 14:32:00,64,2021-02-08,1541,1608,10,PARU,1101049,NaN,NaT,NaN,NaN,NaN
1227,1602995.0,25.0,Laparoscopy Appendectomy,60,E-06H,2021-02-08 05:56:00,ER,2021-02-08,908,950,4,,1101074,NaN,NaT,NaN,NaN,NaN
1228,2939119.0,41.0,Laparoscopy Appendectomy,60,E-06H,2021-02-15 03:00:00,ER,2021-02-15,727,752,5,PARU,1101121,NaN,NaT,NaN,NaN,NaN

5. What is the percentage of Appendectomy patients going through DI on their pathway to the OR? (1 Mark)

In [25]:
# Filter the DataFrame to get only Appendectomy patients
appendectomy_df = merged_df[merged_df['Proc Descr Mod'] == 'Laparoscopy Appendectomy']

In [28]:
# Count the total number of Appendectomy  patients
total_appendectomy_patients = len(appendectomy_df)
total_appendectomy_patients

578

In [29]:
# Count the number of Appendectomy patients who went through DI
di_appendectomy_patients = appendectomy_df['DI - Pt in Suite'].notnull().sum()
di_appendectomy_patients

194

In [32]:
# Calculate the percentages
percentage_di_appendectomy = (di_appendectomy_patients / total_appendectomy_patients) * 100
# Round the percentage to two decimal places
rounded_percentage = round(percentage_di_appendectomy, 2)
# Print the result
print("Percentage of Appendectomy patients going through DI on their pathway to the OR:", rounded_percentage)

Percentage of Appendectomy patients going through DI on their pathway to the OR: 33.56

6. What is the percentage of Cholecystectomy patients going through DI on their pathway to the OR? (1 Mark)

In [33]:
# Filter the DataFrame to get only Cholecystectomy patients
cholecystectomy_df = merged_df[merged_df['Proc Descr Mod'] == 'Laparoscopy Cholecystectomy']

In [34]:
# Count the total number of Cholecystectomy patients
total_cholecystectomy_patients = len(cholecystectomy_df)
total_cholecystectomy_patients

651

In [35]:
# Count the number of Cholecystectomy patients who went through DI
di_cholecystectomy_patients = cholecystectomy_df['DI - Pt in Suite'].notnull().sum()
di_cholecystectomy_patients

537

In [37]:
percentage_di_cholecystectomy = (di_cholecystectomy_patients / total_cholecystectomy_patients) * 100
# Round the percentage to two decimal places
rounded_percentage = round(percentage_di_cholecystectomy, 2)
# Print the result
print("Percentage of Cholecystectomy patients going through DI on their pathway to the OR:", rounded_percentage)

Percentage of Cholecystectomy patients going through DI on their pathway to the OR: 82.49

7. For the given attributes of the patients, is there any group more likely to go through DI prior to the OR? If you cannot find anything, show you what you attempted. (2 Marks)

In [40]:
# Calculate the average age of patients undergoing DI and those in the OR booking dataset
average_age_di = df_DI['Pt Age'].mean()
average_age_or = df_b['Pt Age'].mean()

# Print the average ages rounded to two decimal places
print("Average age of patients undergoing DI: {:.2f}".format(average_age_di))
print("Average age of patients in the OR booking dataset: {:.2f}".format(average_age_or))

Average age of patients undergoing DI: 52.60
Average age of patients in the OR booking dataset: 45.27

Given the attributes provided in the datasets (patient age, procedure description, procedure time, patient priority, OR booking request date/time, patient location, procedure date, patient check-in time in the OR, patient in OR time, OR, patient transfer, and OR number), it is difficult to determine which group is more likely to undergo diagnostic imaging (DI) prior to the operating room (OR).

However, I attempted to analyze the provided data by comparing the average age of patients undergoing DI and those in the OR booking dataset. Unfortunately, without additional relevant attributes such as gender, symptoms, medical history, or case type, it would be difficult to draw meaningful conclusions regarding which group is more likely to undergo DI prior to the OR.

To further analyze and identify any group more likely to undergo DI prior to the OR, we would need additional data or attributes that could potentially correlate with the likelihood of undergoing DI. Without such data, the analysis remains inconclusive.

8. Are there particular days of the week where wait times to be seen by DI are significantly higher or lower than the overall average for Appendectomy or Cholecystectomy patients?  (2 Marks)

In [49]:
import pandas as pd

# Read the merged dataset
merged_df = pd.merge(df_b, df_DI, on="HCID", how="left")

# Filter the dataset to include only Appendectomy and Cholecystectomy patients
appendectomy_df = merged_df[merged_df['Proc Descr Mod'] == 'Laparoscopy Appendectomy'].copy()
cholecystectomy_df = merged_df[merged_df['Proc Descr Mod'] == 'Laparoscopy Cholecystectomy'].copy()

# Convert the 'DI Req - Time' column to datetime
appendectomy_df['DI Req - Time'] = pd.to_datetime(appendectomy_df['DI Req - Time'])
cholecystectomy_df['DI Req - Time'] = pd.to_datetime(cholecystectomy_df['DI Req - Time'])

# Extract the day of the week from the 'DI Req - Time' column
appendectomy_df['Day_of_Week'] = appendectomy_df['DI Req - Time'].dt.dayofweek
cholecystectomy_df['Day_of_Week'] = cholecystectomy_df['DI Req - Time'].dt.dayofweek

# Calculate the average wait time for DI for each day of the week
avg_wait_time_appendectomy = appendectomy_df.groupby('Day_of_Week')['DI Req - Time'].mean()
avg_wait_time_cholecystectomy = cholecystectomy_df.groupby('Day_of_Week')['DI Req - Time'].mean()

# Compare these averages to the overall average wait time for DI
overall_avg_wait_time_appendectomy = appendectomy_df['DI Req - Time'].mean()
overall_avg_wait_time_cholecystectomy = cholecystectomy_df['DI Req - Time'].mean()

# Print the results
print("Average wait time for DI for each day of the week (Appendectomy patients):")
print(avg_wait_time_appendectomy)
print("\nOverall average wait time for DI (Appendectomy patients):", overall_avg_wait_time_appendectomy)

print("\nAverage wait time for DI for each day of the week (Cholecystectomy patients):")
print(avg_wait_time_cholecystectomy)
print("\nOverall average wait time for DI (Cholecystectomy patients):", overall_avg_wait_time_cholecystectomy)

Average wait time for DI for each day of the week (Appendectomy patients):
Day_of_Week
0.0   2020-03-20 08:33:57.387096832
1.0   2019-12-23 11:06:37.749999872
2.0   2020-01-14 03:35:10.593750016
3.0   2020-01-26 21:23:39.351351296
4.0   2019-12-24 20:49:24.105263104
5.0   2020-02-01 11:00:40.680000000
6.0   2019-12-24 01:39:15.954545408
Name: DI Req - Time, dtype: datetime64[ns]

Overall average wait time for DI (Appendectomy patients): 2020-01-22 00:16:47.819587584

Average wait time for DI for each day of the week (Cholecystectomy patients):
Day_of_Week
0.0   2020-03-08 07:54:34.919540224
1.0   2020-02-27 02:01:28.350877184
2.0   2020-01-17 07:14:06.988095232
3.0   2020-01-21 08:38:37.616438272
4.0   2020-02-22 04:50:55.945945856
5.0   2019-12-31 00:49:07.767441920
6.0   2020-01-13 14:05:49.223684096
Name: DI Req - Time, dtype: datetime64[ns]

Overall average wait time for DI (Cholecystectomy patients): 2020-02-01 02:31:50.011173120

9. Are there particular times of the day where wait times to be seen by DI are significantly higher or lower than the overall average for Appendectomy or Cholecystectomy patients?  (2 Marks)

In [56]:
# Extract the hour of the day from the 'DI Req - Time' column
appendectomy_df['Hour_of_Day'] = appendectomy_df['DI Req - Time'].dt.hour
cholecystectomy_df['Hour_of_Day'] = cholecystectomy_df['DI Req - Time'].dt.hour

# Calculate the average wait time for DI for each hour of the day
avg_wait_time_appendectomy = appendectomy_df.groupby('Hour_of_Day')['DI Req - Time'].mean()
avg_wait_time_cholecystectomy = cholecystectomy_df.groupby('Hour_of_Day')['DI Req - Time'].mean()

# Compare these averages to the overall average wait time for DI
overall_avg_wait_time_appendectomy = appendectomy_df['DI Req - Time'].mean()
overall_avg_wait_time_cholecystectomy = cholecystectomy_df['DI Req - Time'].mean()

In [57]:
print("Average wait time for DI for each hour of the day (Appendectomy patients):")
print(avg_wait_time_appendectomy)

Average wait time for DI for each hour of the day (Appendectomy patients):
Hour_of_Day
0.0    2020-03-06 16:26:05.333333248
1.0    2019-12-07 01:33:10.111111168
2.0    2020-03-28 14:31:13.100000000
3.0    2019-12-16 18:09:31.615384576
4.0    2019-10-23 04:24:45.666666752
5.0    2020-03-08 18:52:26.000000000
6.0    2019-09-21 20:54:24.000000000
7.0    2020-02-14 00:23:21.100000000
8.0    2020-01-03 08:33:19.555555584
9.0    2020-03-19 22:29:01.363636480
10.0   2019-12-28 07:48:14.333333248
11.0   2020-02-16 15:18:05.153846272
12.0   2020-02-23 22:11:52.200000000
13.0   2020-03-16 01:26:03.166666752
14.0   2019-09-02 08:31:00.000000000
15.0   2019-11-09 05:12:00.000000000
16.0   2020-03-06 04:30:48.214285824
17.0   2020-01-10 20:05:49.000000000
18.0   2020-01-03 16:23:31.181818112
19.0   2020-05-07 19:26:46.333333504
20.0   2019-12-27 00:20:33.333333248
21.0   2020-01-23 21:23:52.249999872
22.0   2020-01-13 06:24:44.000000000
23.0   2020-02-01 10:15:16.333333504
Name: DI Req - Time, dtype: datetime64[ns]

In [59]:
print("Overall average wait time for DI (Appendectomy patients):", overall_avg_wait_time_appendectomy)

Overall average wait time for DI (Appendectomy patients): 2020-01-22 00:16:47.819587584

In [60]:
print("\nAverage wait time for DI for each hour of the day (Cholecystectomy patients):")
print(avg_wait_time_cholecystectomy)

Average wait time for DI for each hour of the day (Cholecystectomy patients):
Hour_of_Day
0.0    2020-04-30 14:13:14.571428352
1.0    2020-06-11 15:11:19.857143040
2.0    2019-12-14 05:29:28.875000064
3.0    2019-12-19 23:32:20.000000000
4.0    2019-12-29 16:32:20.142856960
5.0    2020-02-24 11:48:05.789473792
6.0    2020-01-17 19:05:04.868420864
7.0    2020-02-10 05:13:42.461538304
8.0    2019-12-27 08:32:59.676470528
9.0    2020-01-30 10:39:44.139534848
10.0   2020-01-15 23:07:42.684210432
11.0   2020-02-17 10:44:32.655172352
12.0   2020-01-09 03:59:33.058823680
13.0   2020-02-02 04:06:33.000000000
14.0   2020-02-21 14:28:25.827586304
15.0   2020-01-24 11:08:28.607142656
16.0   2020-02-22 13:18:32.826086912
17.0   2020-01-19 10:58:00.590909184
18.0   2020-02-27 06:29:59.312499968
19.0   2020-01-31 13:56:58.692307712
20.0   2020-01-19 07:53:33.761904896
21.0   2020-04-19 10:54:44.000000000
22.0   2020-02-13 22:38:25.166666752
23.0   2020-01-12 20:28:53.000000000
Name: DI Req - Time, dtype: datetime64[ns]

In [58]:
print("Overall average wait time for DI (Cholecystectomy patients):", 
      overall_avg_wait_time_cholecystectomy)

Overall average wait time for DI (Cholecystectomy patients): 2020-02-01 02:31:50.011173120

10. Sometimes data can be used to find quality improvement opportunities.  The idea has been considered that the time difference between the patient being seen by DI (DI - Pt in Suite) and the time a patient is booked into the OR (OR Booking Req DT/Tm) is reflective of a doctor’s ability to manage their workload.  Is there a doctor who is significantly better than their peers in this area for one or both of the procedures?  (2 Marks)

In [61]:
from scipy.stats import f_oneway

# Calculate the time difference between DI and OR booking
merged_df['DI_Pt_in_Suite'] = pd.to_datetime(merged_df['DI - Pt in Suite'])
merged_df['OR_Booking_Req_DT'] = pd.to_datetime(merged_df['OR Booking Req DT/Tm'])
merged_df['Time_Difference'] = (merged_df['OR_Booking_Req_DT'] - merged_df['DI_Pt_in_Suite']).dt.total_seconds() / 60  # Convert to minutes

# Group the data by the requesting physician
grouped_by_physician = merged_df.groupby('Requesting Physician')

# Calculate the average time difference for each physician
avg_time_difference_by_physician = grouped_by_physician['Time_Difference'].mean()
avg_time_difference_by_physician

Requesting Physician
Dr. D    38.869028
Dr. J    46.302632
Dr. O    47.150390
Dr. P    44.047590
Dr. S    49.871158
Name: Time_Difference, dtype: float64

In [62]:
# Perform statistical tests (e.g., ANOVA) to compare the average time differences between physicians
f_statistic, p_value = f_oneway(*[grouped_by_physician.get_group(group)['Time_Difference'] for group in grouped_by_physician.groups])

# significance level
alpha = 0.05

print("ANOVA Test Results:")
if p_value < alpha:
    print("There is a statistically significant difference in the average time differences between physicians.")
else:
    print("There is no statistically significant difference in the average time differences between physicians.")

ANOVA Test Results:
There is a statistically significant difference in the average time differences between physicians.

In [63]:
# Identify physicians whose average time difference is significantly lower than their peers
better_physicians = avg_time_difference_by_physician[avg_time_difference_by_physician < avg_time_difference_by_physician.mean()]

print("Physicians with significantly lower average time difference:")
print(better_physicians)

Physicians with significantly lower average time difference:
Requesting Physician
Dr. D    38.869028
Dr. P    44.047590
Name: Time_Difference, dtype: float64